:root
{
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color:#333;
    --max-width: 1100px;
}


.category
{
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    background: var(--light-color);
}


a
{
    color: #333;
    text-decoration: none;
}


ul
{
    list-style: none;
}


img
{
    width: 100%;
}

h1,h2,h3,h4,h5,h6
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', cursive;
    margin-bottom: .55rem;
    line-height: 1.3;
}


/* Utility Classes */

.container
{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}


/* Navigation Bar */

#main-nav
{
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container
{
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#main-nav .logo
{
    width: 180px;
}

#main-nav ul
{
    justify-self: end; /* they will stay against the right end of body */
    display: flex;
}

#main-nav ul li a 
{
    padding: 0.75rem;
    font-weight: bold;
}

#main-nav ul li a.current
{
    background: var(--primary-color);
    color: #fff;
}


#main-nav ul li a:hover 
{
    background: var(--light-color);
    color: var(--dark-color);
}

#main-nav .social
{
    justify-self: center;
}

#main-nav .social i
{
    color: #444;
    margin-right: .5rem;
}


